# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
lessons-year-ten/.vscode/settings.json
lessons-year-ten/bin/RevisionTwo/README.md
lessons-year-ten/bin/HelloVSCode/README.md
lessons-year-ten/bin/Looping2/README
lessons-year-ten/bin/RevisionOne/README.md
